div.container-fluid
    div.row
        div.col-md-8.col-md-offset-3
            h1 查找学生:
                input(type='text', placeholder='', ng-model='search')
    div.row
        div.col-md-offset-6
            h3(ng-show='errorShow==true') {{error}}
    div(ng-repeat='student in students| filter:search')
        div.row
            div.col-md-12
                h2 学生: {{student.username}}
            div.col-md-4(ng-repeat="assignment in student.assignments | orderBy:'timeStamp'")
                div.jumbotron
                    h3 {{assignment.job.title}}
                    p(ng-show='(assignment.finished-nowtime)>=0') [状态：进行中]
                    p(ng-show='(assignment.finished-nowtime)<0') [已经截止了]
                    p 开始时间 {{assignment.timeStamp | date:'yyyy-MM-dd HH:mm:ss'}}
                    p 截止时间 {{assignment.finished | date:'yyyy-MM-dd HH:mm:ss'}}
                    form(role='form')
                        div.form-group
                            label.control-label 分数
                            div
                                input(type='text', ng-model='assignment.score')
                        div.form-group
                            label.control-label 评价
                            div
                                textarea.form-control(type='text', ng-model='assignment.taComment')
                        div.form-group
                            labelcontrol-label
                            div
                                input#reset.btn.btn-default.btn-primary(type="reset",value="重置")
                                input#submit.btn.btn-default.btn-primary(type="submit",ng-click='submitScoreAndComment(assignment.score, assignment.taComment, student._id, assignment.index)',value="提交")
                    p 最终分数：{{assignment.score}}
                    a.btn.btn-default.btn-primary(href='{{assignment.job.refer}}', target='_blank') 详情
                    |  -
                    a.btn.btn-default.btn-primary(ng-show="assignment.github!=''",href='{{assignment.github}}', target='_blank') 下载代码
                    a.btn.btn-default.btn-danger(ng-show="assignment.github==''") 作业未提交

