div.container-fluid
  div.row
    div.col-md-4
      div.jumbotron
        h3 作业01:receipt
        p [状态：进行中]。
        p 结束时间 ：Sun Feb 28 2016
        button.btn.btn-default 上传源码
        p 最终分数：
        a.btn.btn-default.btn-primary(ng-href='') 详情
        |  -
        a.btn.btn-default.btn-primary(ng-href='') 详情
        |  -
        a.btn.btn-default.btn-primary(ng-href='') 详情
        |  -
        a.btn.btn-default.btn-primary(ng-href='') 详情
    div.col-md-4
      div.jumbotron
    div.col-md-4
      div.jumbotron