h1 发布新作业
form
    input
h2 开始时间
    input(placeholder='请输入年(例如:2016)')
    input(placeholder='请输入月(例如:2)')
    input(placeholder='请输入日(例如:23)')
    input(placeholder='请输入时(例如:12)')
    input(placeholder='请输入分(例如:18)')
    input(placeholder='请输入秒(例如:60)')
    input(placeholder='请输入持续时间，单位天(例如:5)')
